[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
