// COLORS
$teal: #63BDA2;
$teal-darker: #359377;
$gray-background: #F7F7F7;
$gray-table-border: #EEEEEE;
$gray-lightest: #D2D2D2;
$gray-light: #ABABAB;
$gray-medium: #898989;
$gray-dark: #5F5F5F;
$highlight: #FFEC5C;

// FONTS
$serif: "Noto Serif","Segoe UI","Helvetica Neue",Helvetica,Roboto,FreeSans,serif;
$sans-serif: "Noto Sans","Segoe UI","Helvetica Neue",Helvetica,Roboto,FreeSans,sans-serif;
$code: Menlo,Monaco,"Courier New",monospace;

$width-md: 768px;