//#region polyring widget

body webring-banner {
    --background-color: transparent;
    --outer-border-color: #ddd;
    --inner-border-color: #ddd;
    --href-color: #2d96bd;
    --href-color-active: #2d96bd;
    --text-color: #161209;
}


body[theme="dark"] webring-banner {
    --background-color: transparent;
    --outer-border-color: #ddd;
    --inner-border-color: #ddd;
    --href-color: #55bde2;
    --href-color-active: #55bde2;
    --text-color: #a9a9b3;
}

//#endregion
