//#region polyring widget

body webring-banner {
    --background-color: transparent;
    --outer-border-color: #ddd;
    --inner-border-color: #ddd;
    --href-color: #2d96bd;
    --href-color-active: #2d96bd;
    --text-color: #161209;
}

body[theme="dark"] webring-banner {
    --background-color: transparent;
    --outer-border-color: #ddd;
    --inner-border-color: #ddd;
    --href-color: #55bde2;
    --href-color-active: #55bde2;
    --text-color: #a9a9b3;
}

//#endregion

body {
    svg.themed {
        stroke: #161209;
        fill: #161209;
    }

    svg {
        .stroke {
            stroke: #161209;
        }
        .fill {
            fill: #161209;
        }

        .fill.red {
            fill: rgb(223, 0, 48);
        }
        .fill.blue {
            fill: rgb(100, 149, 237);
        }
        .fill.green {
            fill: rgb(40, 174, 123);
        }
    }
}

body[theme="dark"] {
    svg.themed {
        stroke: #a9a9b3;
        fill: #a9a9b3;
    }

    svg {
        .stroke {
            stroke: #a9a9b3;
        }
        .fill {
            fill: #a9a9b3;
        }

        .fill.red {
            fill: rgb(223, 0, 48);
        }
        .fill.blue {
            fill: rgb(100, 149, 237);
        }
        .fill.green {
            fill: rgb(40, 174, 123);
        }
    }
}
