.footer {
    visibility: hidden;
    height: 0;
}

.footer-mobile {
    margin-top: 2em;
    max-width: 100%;
    padding: 0em 1.5em 0.75em 1.5em;
    overflow: hidden;

    .footer-mobile-links {
        display: flex;
        justify-content: center;
    }

    .divider-bar {
        color: var(--color-divider);
        padding: 0em 0.25em;
    }
}

footer {
    text-align: center;

    .social-icons {
        margin: 0 0 1.25em -.5em;
    }

    .social-icon {
        padding: 0.3em 0.5em;
        margin: 0.32em 0.1em;
        display: inline-block;
        height: 2em;
        position: relative;
    }

    .social-icon>svg:hover {
        fill: var(--color-focus);
    }

    a {
        text-decoration: none;
        font-size: 0.95rem;
        color: var(--color-mute);
    }

    a:visited {
        color: var(--color-mute);
    }

    a:hover {
        color: var(--color-focus);
    }
}