nav {
    padding: 0.25em 1.5em 1em 1.5em;
    max-width: 100%;
}

.site-title {
    margin: 1.5em 0em 1em 0em;
    text-align: center;
    line-height: 1.7em;

    a {
        font-family: $serif;
        font-size: 1.5em;
        text-decoration: none;
        margin-top: 0.75em;
    }
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-link {
    margin-bottom: 0.5em;
}

.description {
    font-style: italic;
    color: var(--color-mute);
    text-align: center;
    margin-bottom: 3.7em;
    margin-top: -0.75em;
}